<footer class="app-footer">

  <div class="footer-grid">

    <!-- BRAND -->
    <div class="footer-brand">
      <div class="footer-logo-wrap">
        <img src="./assets/halficon.png" class="footer-logo">
        <h2>Gumasto</h2>
        </div>

      <p>
        Your AI-powered retail intelligence platform to reduce waste,
        optimize inventory and increase profit margins.
      </p>

      <div class="footer-socials">
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://x.com/Gumasto_Vyom" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </div>
    </div>

    <!-- QUICK LINKS -->
    <div class="footer-col">
      <h4>Quick Links</h4>
      <a href="./dashboard.html">Dashboard</a>
      <a href="./inventory.html">Inventory</a>
      <a href="./discount.html">Discounts</a>
      <a href="./trends.html">Trends</a>
      <a href="./waste.html">Waste Management</a>
      <a href="./placement.html">Placement</a>
      <a href="./comparison.html">Comparision</a>
      <a href="./about.html">About Us</a>
    </div>

    <!-- FEATURES -->
    <div class="footer-col">
      <h4>Features</h4>
      <a href="#">AI Forecasting</a>
      <a href="#">Dynamic Pricing</a>
      <a href="#">Waste Reduction</a>
      <a href="#">Smart Analytics</a>
    </div>

    <!-- CONTACT -->
    <div class="footer-col">
      <h4>Contact Us</h4>
      <p><i class="fa-solid fa-location-dot"></i> Lucknow, India</p>
      <p><i class="fa-solid fa-envelope"></i> support@gumasto.ai</p>
    </div>

  </div>

  <div class="footer-bottom">
    <span>Built for Microsoft Imagine Cup</span>
    <span>© 2026 Gumasto</span>
  </div>

</footer>
